:root {
  font-family: 'Shantell Sans', cursive;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

#app {
  height: 100%;

  display: grid;
}

#on-loading {
  height: 100%;

  background: #333333;
  color: #fff;
}

span.loading {
  position: absolute;
  bottom: 60%;

  width: 100%;
  text-align: center;

  font-size: 24px;
}

div.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.75s, visibility 0.75s;
  height: 100%;
}

div.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

div.loader::after {
  content: '';
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

#map {
  min-height: 200px;
}

#speed-tracker {
  background-color: #444;
  color: #fff;
  font-family: monospace;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#position-tracker {
  background-color: #444;
  color: #fff;
  font-family: monospace;
  font-size: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  text-align: center;
}

#latitude,
#longitude {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#speed {
  font-size: 70px;
}

.actions {
  position: absolute;
  bottom: 1rem;

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button:disabled,
button[disabled] {
  background-color: #7e7d7d;
  color: #cfcdcd;
}

#start-trackers-btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #23df3c;
  color: #fff;
  background-color: #23df3c;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  height: 42px;
}

#start-trackers-btn:hover {
  background-color: #1aa82d;
  color: #fff;
  border: 2px solid #1aa82d;
}

#stop-trackers-btn {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #ff4742;
  color: #fff;
  background-color: #ff4742;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1.5px 0px;
  font-weight: 800;
  font-size: 16px;
  height: 42px;
}

#stop-trackers-btn:hover {
  background-color: #ff4742;
  color: #fff;
  border: 2px solid #ff4742;
}

#start-trackers-btn:disabled,
#stop-trackers-btn:disabled {
  cursor: not-allowed;
  border: 2px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
